.listview {
	/**
	 * This prevents default state from showing through when there are no quakes
	 * in the current data feed.
	 */
	background-color:#ddd;
  font-size:12px;
}

.listview .downloads {
	display: none;
}

.listview .showDownloads .downloads{
	display: block;
}

.listView .nodata {
    padding: 16px;
    color:#900;
}


/**
 * LIST HEADER
 */

.listHeader {
  padding: 0 16px;
}

.listHeader .download {
  display: block;
}

.listHeader > ul.downloads {
  margin: 16px 0;
}

.listHeader > .timezone,
.listHeader > .updated {
  display:none;
}

.listHeader > span {
  display:block;
  color: #666;
}

.listHeader > span > strong{
  color: #333;
}


.listHeader > .total {
  margin-top:8px;
}

.listHeader > .showing {
  margin-bottom:8px;
}



/**
 * LIST CONTENT
 */


ol.listContent {
	list-style:none;
	padding:0;
  border: 1px solid #bbb;
}

ol.listContent li {
	position:relative;
	border-top: 1px solid #DFDFDF;
	background: #fff;

	/*
	need this to compensate for -webkit-overflow-scrolling:touch,
	which otherwise prevents a redraw
	*/
	-webkit-transform: translate3d(0,0,0);

	/** bottom is room for time, depth; left is room for mag  */
	padding: 8px 16px 8px 50px;
  color:#333;
	-webkit-text-size-adjust: none;
}

ol.listContent li:first-child {
  border: 0;
}

.mode-list.mode-settings ol.listContent {
  border-right: 1px solid #bbb;
}


/**
 * LIST FOOTER
 */

.listFooter {
  padding: 0 16px 16px;
}

.listFooter .help li {
  margin: 8px 0 0;
}
